# fly.toml app configuration file generated for cs-eslamhatem-ptjbra on 2025-12-12T15:49:31Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'cs-eslamhatem-ptjbra'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '8gb'
  cpu_kind = 'shared'
  cpus = 8
  memory_mb = 8192
